.menu-nav-category {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 25px;
  .menu-btn-category {
    border: 0;
    background: rgb(240, 240, 240);
    color: #c59d5f;
    font-size: 25px;
    font-weight: 600;
    text-transform: capitalize;
    cursor: pointer;
    transition: 1s ease;
    &:hover {
      background: cornsilk;
    }
  }
}
